@use "@/App/scss/utils/containers" as *;
@use "@/App/scss/utils/mixins" as *;
.conteiner {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("@/asset/images/intro/Intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutMeContainer {
  height: 350px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  margin: 5vh auto;
  box-sizing: border-box;
  background-color: dimgray;
  border-radius: 15px;
  overflow: hidden;
}
.socialLinks {
  margin: 0 auto;
  width: calc(100% - 35px);
}
.aboutMe {
  display: flex;
  align-items:center;
  justify-content: center;
}
@include tablet {
  .aboutMeContainer {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 67vh;
    max-width: 450px;
  }
  .myImage {
    height:  78%;
  }
}
