@use "@/App/scss/utils/mixins" as *;
.parallaxWrapper {
  height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}
.parallaxGroup {
  position: relative;
  height: 100svh;
  transform-style:  preserve-3d;
}
.parallaxLayer {
  position: absolute;
  inset: 0;
}
.parallaxLayer img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100svh;
}
.baseLayer {
  transform: translateZ(-300px) scale(2);

}
.midLayer {
  transform: translateZ(0);
}

#intro {
  z-index: 0;
}
#professionalSkills {
  z-index: -1;
}
#projects {
  z-index: 0;
}
#ContactMe {
  z-index: -1;
}
#ContactMe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  background-color: dimgray;
  z-index: -1; // Щоб псевдоелемент був позаду основного контенту
}

@include tablet {
  #projects {
    height: auto;
  }
}

// ------------------------------------------------------------------
.professionalSkillsBackground {
  background:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("@/asset/images/Skills/SkillsBack.png") center/cover no-repeat;
}

.contactMeBackground {
  background:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("@/asset/images/ContactMe/backGroundContactMe.png") bottom/cover no-repeat;
}

