@use "@/App/scss/utils/mixins" as *;
.parallaxWrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}
.parallaxGroup {
  position: relative;
  height: 100vh;
  transform-style:  preserve-3d;
}
.parallaxLayer {
  position: absolute;
  inset: 0;
}
.parallaxLayer img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
}
.baseLayer {
  transform: translateZ(-300px) scale(2);

}
.midLayer {
  transform: translateZ(0);
}

#intro {
  z-index: 0;
}
#professionalSkills {
  z-index: -1;
}
#projects {
  z-index: 0;
}
#contactMe {
  z-index: -2;
  height: 50vh;
  transform: translateZ(-300px) translateY(270px) scale(2);
}

@include tablet {
  #contactMe {
    height: 86vh;
    transform: translateZ(-300px) translateY(230px) scale(2);
  }
}

.professionalSkillsBackground {
  background:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("@/asset/images/Skills/SkillsBack.png") center/cover no-repeat;
}

.contactMeBackground {
  background:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("@/asset/images/ContactMe/backGroundContactMe.png") bottom/cover no-repeat;
}
