@use "@/App/scss/utils/function" as *;
.container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.number {
  color: grey;
  margin-right: 10px;
}
.title {
  font-size: fun-adaptiv(42, 30);
}
.subTitle {
  font-size: fun-adaptiv(24, 16);
}
.subTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.link {
  color: lightgreen;
}