@use "@/App/scss/utils/mixins" as *;
.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.success-message {
  position: absolute;
  bottom: 10px;
  left: -85%;
  background-color: #00d954;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
}

.contact-form {
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 340px;
  width: 100%;
  font-family: 'Arial', sans-serif;

  &__row {
    input {
      margin: 5px 0;
    }
  }

  .phone-group {
    display: flex;
    gap: 1rem;

    input {
      flex: 1;
    }
  }

  input, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    background-color: #FFFFFF;
    color: black;

    &:hover {
      background-color: lightgreen;
    }
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  .error {
    border: 1px solid red;
  }

  &__submit {
    background-color: #00d954;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #00b746;
    }
  }
}

@include tablet {
  .success-message {
    position: inherit;
  }
}