@use "@/App/scss/utils/containers" as *;
.backGround {
  background-color: dimgray;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.01);
  }

  @media (min-width: 769px) {
    flex-direction: row;
  }
}

.imageWrapper {
  flex: 1;
  min-height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.info {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  color: #333;
}

.title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #222;
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;

  span {
    background-color: #e0e0e0;
    color: #333;
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
    font-size: 0.65rem;
    font-weight: 500;
  }
}

.link {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #00b746;
  color: #fff;
  border-radius: 7px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.role {
  font-size: 0.95rem;
  color: #444;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: #333;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #ff4d4d; /* Червоний колір при ховері */
  }
}