@use "@/App/scss/utils/containers" as *;
@use "@/App/scss/utils/mixins" as *;

.content_container {
  width:  100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width:  calc(var(--container-width) - 200px);
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: grey;
  z-index: 6;
}
.contactConteiner {
  display: flex;
  justify-content: space-around;
}
.contactTitle {
  margin: 0 20px;
  font-size: 32px;
}

@include tablet {
  .content_container {
    width: 80%;
  }
  .contactConteiner {
    flex-direction: column-reverse;
  }
  .contactTitle {
    margin: 0 auto;
  }
}
//// Media Query
//@media (max-height: 690px) {
//  .content_container {
//    top: 30px;
//  }
//}

