@use "@/App/scss/utils/containers" as *;
@use "@/App/scss/utils/mixins" as *;
.background {
  background:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("@/asset/images/ContactMe/backGroundContactMe.png") center/cover no-repeat;
  height: 50vh;
  position: relative;
}
.container {
  width:  100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width:  calc(var(--container-width) - 200px);
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: grey;
  z-index: 2;
}
.contactConteiner {
  display: flex;
  justify-content: space-around;
}
.contactTitle {
  margin: 0 20px;
  font-size: 32px;
}

@include tablet {
  .container {
    width: 80%;
  }
  .contactConteiner {
    flex-direction: column-reverse;
  }
  .contactTitle {
    margin: 20px auto;
  }
}
