@use "@/App/scss/utils/containers" as *;
.container {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backGround {
  background:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("@/asset/images/Skills/SkillsBack.png") center/cover no-repeat;
}