@use "@/App/scss/utils/mixins" as *;
.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: dimgray;
  width: 70%;
  height: auto;
  padding: 10px 20px;
  box-sizing: border-box;
}
.name {
  font-size: 25px;
}
.posada {
  font-size: 20px;
  text-align: center;
}
.text {
  font-size: 15px;
}
.textTitle {
  font-weight: 600;
  padding: 5px;
}
@include tablet {
  .text {
    display: none;
  }
}