@use "@/App/scss/utils/containers" as *;
@use "@/App/scss/utils/mixins" as *;
.backGround {
  background-color: dimgray;
}
.container {
  height: 100svh;
}
.upContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 100%;
  padding: 10px 0;
}
.sectionTitleContainer {
  margin: 10px;
}
@include tablet {
  .container {
    height: auto;
  }
}
