@use "@/App/scss/utils/mixins" as *;
.container {
  width:  calc(100% - 100px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@include mobile {
    .container {
      width: calc(100% - 20px);
    }
}